<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th scope="col" th:fragment="sort_header_books(header, column)">[[${header}]]<a th:href="@{/books(page=${books.number + 1},
                    size=${books.size}, titleFilter=${param.type}, publicationDateFilter=${param.publicationDate}, isbnFilter=${param.isbn}, sorting=${column}, sortingParam=${#strings.equals(param.sortingParam, 'desc')} ? 'asc' : 'desc')}">
  <i class="fa"
     th:classappend="${#strings.equals(param.sortingParam, 'desc')} ? 'fa-sort-up':'fa-sort-down'"></i></a>
</th>
</html>